@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;



  

    --primary: #4CAF4F;
    --primary-foreground: white;
    --secondary: darkgray;

    --text-primary: #4D4D4D; 
    --text-secondary: #717171;
    --text-tertiary: #18191F;

    --background-secondary: #F5F7FA;
    --background-primary: white;
    --background-green: #4CAF4F;
    --background-green-foreground: white;
  }

  .dark {
    --background: #1A1A1A;
    --foreground: #F5F7FA;

    --card: #2C2C2C;
    --card-foreground: #F5F7FA;

    --popover: #2C2C2C;
    --popover-foreground: #F5F7FA;

    --primary: #4CAF4F;
    --primary-foreground: #1A1A1A;

    --secondary: #A9A9A9;
    --secondary-foreground: #F5F7FA;

    --muted: #3A3A3A;
    --muted-foreground: #D1D1D1;

    --accent: #3A3A3A;
    --accent-foreground: #F5F7FA;

    --destructive: #D32F2F;
    --destructive-foreground: #F5F7FA;





    

    --border: #444444;
    --input: #444444;
    --ring: #555555;

    --text-primary: #F5F7FA;
    --text-secondary: #D1D1D1;
    --text-tertiary: #B3B3B3;

    --background-secondary: #2C2C2C;
    --background-primary: #1A1A1A;
    --background-green: #4CAF4F;
    --background-green-foreground: #1A1A1A;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
